#about {
  background: $black;
  transition: transform 0ms cubic-bezier(.25,.25,.75,.75) 700ms,opacity 700ms cubic-bezier(.19,1,.22,1) 0ms;
  opacity: 0;
  visibility: visible;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transform: translate3d(0,-100%,0);
  overflow-y: scroll;

  &.active {
    overflow: visible;
    visibility: visible;
    opacity: 1;
    transform: translate3d(0,0,0);
    transition: transform 0ms cubic-bezier(.25,.25,.75,.75) 0ms,opacity 700ms cubic-bezier(.19,1,.22,1);
  }
}

.about-container {
  max-width: 600px;
  margin: 3em auto;
  overflow-y: scroll;
  height: 100vh;

  h2 {
    margin-top: 1em;
  }

  p {
    font-size: .8em;
  }

  @include bp(sm) {
    padding: 2em;
    margin: 0;
  }

  svg {
    fill: lighten($black, 20%);
  }
}

.aboutTrigger {
  top: 0;
  right: 0;
  border-left: 1px solid $tan;
  border-bottom: 1px solid $tan;
}
