.randomAward {
  text-transform: capitalize;
  font-family: $serif;
  font-size: 4em;
  line-height: 1.2em;
  margin-top: 0;
  color: white;
  position: relative;
  margin-bottom: 2rem;

  @include bp(sm) {
    font-size: 2em;
    margin-top: .5em;
  }
}

.awardRecipient {
  margin-top: 2rem;
  font-size: 1em;
  position: relative;
  margin-bottom: 0;

   @include bp(sm) { font-size: .8em; }
}

.main {
  width: 80%;
  margin: 2em auto;

  @include bp(sm) {
    margin: 0 auto;
  }

  .button {
    width: auto;
    margin: 0 .25em;

    @include bp(sm) {
      width: 100%;
      margin: 0 0 .5em;
    }
  }
}

.printTrigger {
  border-color: lighten($black, 20%);
  color: lighten($black, 20%);

  svg { fill: lighten($black, 20%); }
}

.nameTrigger {
  display: block;
  display: inline-block;
  width: auto;
  font-weight: bold;
  margin: .5em 0;
  padding: 0 .25em;

  @include bp(sm) { width: 100%; }

  input {
    &:focus { background: lighten($black, 20%); }
    outline: none;
    border: none;
    font-size: 16px;
  }
}

.trigger {
  background: $black;
  padding: 20px;
  position: absolute;
  color: white;
  text-decoration: none;
  font-size: .8em;
  cursor: pointer;

  svg {
    fill: $tan;
    vertical-align: middle;
    display: none;

    @include bp(sm) {
      width: 20px;
      height: 20px;
      display: inline-block;
    }
  }

  span {
    @include bp(sm) {
      display: none;
    }
  }
}

.buttons {
  margin-top: 2rem;
}
