.footer {

  @include bp(sm) {
    text-align: center;
    padding-top: 2em;
  }
}

.shareTrigger {
  bottom: 0;
  left: 0;
  border-right: 1px solid $tan;
  border-top: 1px solid $tan;

  svg {
    vertical-align: middle;
    fill: $tan;
  }
}

.copy {
  padding: .2em;
  margin: 2em 0 0;;
  bottom: 0;
  right: 0;
  border-left: 1px solid $tan;
  border-top: 1px solid $tan;
}

.print-url {
  display: none;
}
