.header {

  svg {
    fill: lighten($black, 20%);
    width: 20px;
    height: 20px;
  }

  h1 {
    font-family: $sans-serif;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 400;
    color: $tan;
    letter-spacing: 2px;
    position: relative;
    margin-top: 0;
  }
}
