#share {
  background: $black;
  transition: transform 0ms cubic-bezier(.25,.25,.75,.75) 700ms,opacity 700ms cubic-bezier(.19,1,.22,1) 0ms;
  opacity: 0;
  visibility: visible;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transform: translate3d(0,-100%,0);
  overflow-y: scroll;
  z-index: 9999;

  &.active {
    opacity: 1;
    transform: translate3d(0,0,0);
    transition: transform 0ms cubic-bezier(.25,.25,.75,.75) 0ms,opacity 700ms cubic-bezier(.19,1,.22,1);
  }

  .share-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .js-social-share {
    font-size: 3em;
    display: block;
    text-decoration: none;
    font-family: $serif;
  }
}

.share-close {
  background: $tan;
  color: $black;
}

