* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
html {
  font-size: 100%;
}
body {
  background: $black;
  font: 400 1em/1.6 $sans-serif;
  color: darken(white, 5%);
  text-align: center;
  position: relative;
  padding: 80px;

  &:before {
    height: calc(100% - 80px);
    width: calc(100% - 80px);
    border: 1px solid $tan;
    content: "";
    display: block;
    position: absolute;
    top: 40px;
    z-index: -1;
    left: 40px;
  }
}

body,html{
	min-height: 100vh;
	overflow-x: hidden;
}

a {
 color: $pink;

  &:hover {
    color: darken($pink, 20%);
  }
}

